/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

/* img {
  height: 200px;
} */

.container {
  margin: 20px;
}

.navbar {
  background: rgb(138, 137, 137, 0.5);
  height: 7vh;
}
